@model IEnumerable<VehicleRentSystem.Models.VehicleModel>

@{
    ViewData["Title"] = "List of vehicles";
}

@{
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <p class="text-muted">Just pick your vehicle and rent it in only few clicks! You can also do it manually by contacting us.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="text-white">
                                <i class="bi bi-telephone"></i> + 48 123 456 789
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-white">
                                <i class="bi bi-pin-map"></i> ul. Willowa 2, 43-330, Bielsko - Biała
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-white">
                                <i class="bi bi-mailbox"></i> example@@.com.pl
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <i class="bi bi-info-circle"></i>
                <strong>&nbsp More</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<div>
    <main role="main">

        <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow-sm">
            <div class="row g-3">
                <div class="col-md-4">
                    <span class="align-middle">
                        Sort by:
                        <a asp-action="VehicleDisplayList" asp-route-sortOrder="@ViewData["PriceOrder"]" asp-route-currentSort="@ViewData["PriceOrder"]" asp-route-searchString="@ViewData["CurrentFilter"]">Price</a>,
                        <a asp-action="VehicleDisplayList" asp-route-sortOrder="@ViewData["ManufacturerOrder"]" asp-route-currentSort="@ViewData["ManufacturerOrder"]" asp-route-searchString="@ViewData["CurrentFilter"]">Manufacturer</a>,
                        <a asp-action="VehicleDisplayList" asp-route-sortOrder="@ViewData["YearOrder"]" asp-route-currentSort="@ViewData["YearOrder"]" asp-route-searchString="@ViewData["CurrentFilter"]">Year of production</a>
                    </span>

                </div>
                <div class="col-md-6">
                    <form asp-action="VehicleDisplayList" method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="SearchString" placeholder="Find by properties:" aria-describedby="basic-addon2" value="@ViewData["CurrentFilter"]" />
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-outline-secondary" value="Search">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <a asp-action="VehicleDisplayList">
                        <span class="align-middle">Back to default list</span>
                    </a>
                </div>
            </div>
        </div>


        <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow-sm">

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">

                            <div class="card-body">

                                <p class="card-text">@Html.DisplayFor(modelItem => item.Manufacturer)</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Model)</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.RentalPrice)$/day</p>
                                <img src="@item.MainImageUrl" class="img-thumbnail" />
                                <div class="d-flex justify-content-between align-items-center">

                                    <a asp-action="VehicleDetails" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>





        </div>

        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">

                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="btn btn-outline-dark" asp-controller="VehicleManagement" asp-action="VehicleDisplayList" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-pg="1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="btn btn-outline-dark" asp-controller="VehicleManagement" asp-action="VehicleDisplayList" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                    </li>
                }

                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item">
                        <a class="btn @(pge == pager.CurrentPage ? "btn-dark" : "btn-outline-dark")" asp-controller="VehicleManagement" asp-action="VehicleDisplayList" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-pg="@pge"> @pge</a>
                    </li>
                }

                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="btn btn-outline-dark" asp-controller="VehicleManagement" asp-action="VehicleDisplayList" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="btn btn-outline-dark" asp-controller="VehicleManagement" asp-action="VehicleDisplayList" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-pg="@(pager.TotalPages)">Last</a>
                    </li>
                }

            </ul>
        }

    </main>
</div>
<footer class="text-muted">
</footer>
